
.userbox {
	height: 90px;
	list-style-type : none;
  margin: 0px;
	border: 0px;
	padding: 0px;


	
	/*
	background-color: blueviolet;
	*/
}

.userbox .userid {
	position: absolute;
	margin: 0.5em;
	font-size: 0.7em;
	bottom: 0;
}

.userbox .username {
	width: 70px;
	height: 70px;

	margin: 10px;

	position: absolute;

	border-radius: 100px;
}

.userbox .usertodo{
	display: inline-block;

	font-size: 2em;

	margin: 31px 0px 0px 0px;

	position: absolute;

	left: 100px;
}

.userlistboxback{
	width: 100%;
	height: 100%;

	position: fixed;
	top: 0px;
	left: 0px;

	z-index: 1;

	background-color: white;
}


.userlistbox{
	list-style-type : none;
	padding: 0px;

	width: 100%;
	height: 100%;

	position: absolute;
	top: 0px;
	
	z-index: 2;
}

.userlistname{
	display: inline-block;

	position: relative;
	width: 70px;
	height: 70px;

	top: 0px;
	margin: 10px;

	border-radius: 100px;
}

.userlistscroll{
	width: 100%;
	height: 100%;
	list-style-type : none;
	margin-left: 60px;
	overflow-y: scroll;
}



.userlistbox:focus{
	outline:none;
}
